<div id="content">
<div id="forty_left" class="align_lt">
  <h1 class="gold">HealthMonster provides opportunities for parents to inspire healthy choices for their children.</h1>
  </div>

<div id="WideLeftCol">
    <h1><strong><br />
      Watch &amp; Learn</strong></h1>
    <p><iframe width="560" height="315" src="http://www.youtube.com/embed/jAJYa3FAWqM" frameborder="0" allowfullscreen></iframe></p>
  <p>&nbsp;</p>
  <h1><strong>Did you know...</strong></h1>
  <p>The average teen spends nearly twice as much time watching TV, surfing the web or playing video games (40-60 hours per week!) as they do learning in their school classrooms. HealthMonster partners with parents to inspire children to lead more balanced, active, and healthier lives.</p>
  <br />
  <h1>So, HealthMonster...how does that work?</h1>
  <p>HealthMonster uses electronic media and gaming techniques that today's kids are familiar with in order to provide motivation for achievements in activities such as<strong> physical exercise, education, music, art,</strong> and<strong> community service.</strong></p>
  <p>HealthMonster establishes a community of parents, children, businesses and expert contributors who are joining forces to work towards a common goal: helping kids improve their health.</p>
  <h4>Here's how: </h4>
  <ul>
    <li>Parents select the right challenges and rewards that best motivate their kids to make healthier choices. </li>
    <li>Corporations partner with HealthMonster to offer goods or services that become one of the many incentives parents can select with which to reward their child. </li>
    <li>Trusted experts in health and nutrition will contribute their knowledge to create engaging learning opportunities for children.</li>
  </ul>
  <br />
  <h1>It is a win-win!</h1>
  <p>Having a balanced lifestyle creates a healthier fuller life. No one knows your child better than you; HealthMonster is fully customizable to allow you to personalize goals and incentives that will motivate your child to find the fun in making healthy choices.</p>
  <h4>Plus...HealthMonster is FREE!</h4>
  <p>&nbsp;</p>
</div>


<div id="NarrowRightCol">  
  <h1><br />
    Meet the Team</h1>
  <table width="auto" border="0" cellspacing="10" cellpadding="0">
    <tr>
      <td><p align="right"><strong>Steve Lynch<br />
            <span class="gold">Founder &amp; CEO</span></strong></p>
        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td><p align="right"><strong>James Guthridge</strong></p>
        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td><p align="right"><strong>Julie Hudetz</strong></p>
        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td><p align="right"><strong>Amanda Korte<br />
      </strong><span class="gold"><strong>Director of Communications</strong></span></p>
        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td><p align="right"><strong>Rich Taylor</strong></p>
        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td><p align="right"><strong>Raj Veeramani</strong></p>
        <p>&nbsp;</p></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</div>

</div> <!--end #content-->
