<article id="post-67" class="post-67 page type-page status-publish hentry">
  <header class="entry-header">
    <h1 class="entry-title">Community</h1>
  </header><!-- .entry-header -->

  <div class="entry-content">
    <p>HealthMonster reaches out to connect parents with others interested in helping kids lead healthier lives.</p>
    <p>
      <strong>Other Parents<br />
      </strong>HealthMonster is very pleased to offer parents a place to talk about the challenges their children face as well as creative positive ways they have found to motivate their children to find success.
    </p>
    <p>
      <strong>Businesses<br />
      </strong>HealthMonster will partner with businesses and corporate entities around the country to bring parents fun and healthy ways to motivate their children. Access to these incentives will be offered to parents to choose from as they become available.
    </p>
    <p>
      <strong>Experts in Child Health and Other Related Fields<br />
      </strong>HealthMonster works to connect parents with experts in fields related to child health, education, social well-being, and nutrition as well as community leaders that can provide ideas for young people to find fun positive ways to participate within their communities.
    </p>
    <p>Members of the HealthMonster team will also make periodic blog posts about helpful resources we&#8217;ve found and will invite guest bloggers to share their thoughts and expertise from time to time. We&#8217;ll also keep you up to date on what we&#8217;re working on to improve and enrich the HealthMonster experience for all!
    </p>
  </div><!-- .entry-content -->
  <footer class="entry-meta">
  </footer><!-- .entry-meta -->
</article><!-- #post-67 -->