<!DOCTYPE html>
<html>
  <head>
    <title>HealthMonster | Home</title>
  </head>
  <body>
    <h1>HealthMonster</h1>
    <p>
      We welcome you to the home page for HealthMonster!
    </p>
  </body>
</html>