<article id="post-41" class="post-41 page type-page status-publish hentry">
  <header class="entry-header">
    <h1 class="entry-title">Parent-Child Connection</h1>
  </header><!-- .entry-header -->
  <div class="entry-content">
    <p>Parents know their kids best. They know the areas in which their children excel…and the areas in which they need to grow.</p>
    <p>HealthMonster provides parents with a secure, easy-to-use tool that they can use to pose individualized challenges to their children and offer rewards that they know will motivate. Kids have fun recording their completed challenges using HealthMonster’s gaming platform, and enjoy all the &#8220;real life&#8221; fun and growth that their completed challenges bring.</p>
   <p>Learn more about how HealthMonster builds 
     <%= link_to "community.", community_path, title: "Community" %>
    </p>
  </div><!-- .entry-content -->
</article><!-- #post-41 -->