<div id="par_content">
  <div align="center">
    <table width="920" border="0" cellspacing="5" cellpadding="10" >
        <tr valign="top">
          <td width="890" align="left" valign="top"><table width="102%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="26%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="plavatar">
                      
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="plname">Player Name</td>
                        </tr>
                        <tr>
                          <td class="plstats">Experience Points: <<####>></td>
                        </tr>
                        <tr>
                          <td class="plstats">Badges: <<#>></td>
                        </tr>
                      </table>                      <p>&nbsp;</p></td>
                    </tr>
                </table></td>
              <td width="74%" valign="top"><div align="right">
                <table width="650px" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                     <td width="328" height="245" class="plmodspos"><img src="images/playerdash/Quests_01.png" alt="Quests" width="250" height="25" /><img src="images/playerdash/Quests_02.png" width="25" height="25" /> <br />
                       <img src="images/spacer.gif" width="1" height="5px" />
                       <table width="275px" border="0" cellspacing="3" cellpadding="0">
                          <tr>
                            <td class="desc">&lt;&lt;Walk dog for 10 minutes&gt;&gt;</td>
                            <td><img src="images/check.png" alt="accept" width="15" height="16" /></td>
                            <td><img src="images/x.png" alt="decline" width="17" height="17" /></td>
                          </tr>
                          <tr>
                            <td class="desc">&lt;&lt;Boy Scout hike&gt;&gt;</td>
                            <td><img src="images/check.png" alt="accept" width="15" height="16" /></td>
                            <td><img src="images/x.png" alt="decline" width="17" height="17" /></td>
                          </tr>
                          <tr>
                            <td class="desc">&lt;&lt;Rake leaves&gt;&gt;</td>
                            <td><img src="images/check.png" alt="accept" width="15" height="16" /></td>
                            <td><img src="images/x.png" alt="decline" width="17" height="17" /></td>
                          </tr>
                          <tr>
                            <td class="desc">&lt;&lt;Practice trombone&gt;&gt;</td>
                            <td><img src="images/check.png" alt="accept" width="15" height="16" /></td>
                            <td><img src="images/x.png" alt="decline" width="17" height="17" /></td>
                          </tr>
                          <tr>
                            <td class="desc">&lt;&lt;Tutor Bobby Smith&gt;&gt;</td>
                            <td><img src="images/check.png" alt="accept" width="15" height="16" /></td>
                            <td><img src="images/x.png" alt="decline" width="17" height="17" /></td>
                          </tr>
                        </table>                    
                        <p align="center"><span class="prevnext"><a href="#">&lt;&lt;</a></span> <img src="images/spacer.gif" /> <span class="prevnext"><a href="#">&gt;&gt;</a></span></p></td>
                      <td width="322" valign="top" class="plmodspos"><img src="images/playerdash/Friends_01.png" alt="Friends" width="250" height="25" /><img src="images/playerdash/Friends_02.png" width="25" height="25" />
                      
<br />
                        <img src="images/spacer.gif" width="1" height="5px" />  <table width="90%" border="0" cellspacing="3" cellpadding="0">
                          <tr>
                            <td width="10%"><img src="" alt="" name="player1" width="25" height="25" id="player1" style="background-color: #660000" /></td>
                            <td width="56%" class="par_player">&lt;&lt;Player 1&gt;&gt;</td>
                            <td width="34%">&lt;&lt;####&gt;&gt;</td>
                          </tr>
                          <tr>
                            <td><img src="" alt="" name="player2" width="25" height="25" id="player2" style="background-color: #336699" /></td>
                            <td class="par_player">&lt;&lt;Player 2&gt;&gt;</td>
                            <td>&lt;&lt;####&gt;&gt;</td>
                          </tr>
                          <tr>
                            <td><img src="" alt="" name="player3" width="25" height="25" id="player3" style="background-color: #663300" /></td>
                            <td class="par_player">&lt;&lt;Player 3&gt;&gt;</td>
                            <td>&lt;&lt;####&gt;&gt;</td>
                          </tr>
                          <tr>
                            <td><img src="" alt="" name="player4" width="25" height="25" id="player4" style="background-color: #669900" /></td>
                            <td class="par_player">&lt;&lt;Player 4&gt;&gt;</td>
                            <td>&lt;&lt;####&gt;&gt;</td>
                          </tr>
                          <tr>
                            <td><img src="" alt="" name="player5" width="25" height="25" id="player5" style="background-color: #FF9900" /></td>
                            <td class="par_player">&lt;&lt;Player 5&gt;&gt;</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table>
                        <p align="center"><span class="prevnext"><a href="#">&lt;&lt;</a></span> <img src="images/spacer.gif" /> <span class="prevnext"><a href="#">&gt;&gt;</a></span></p></td>
                    </tr>
                    <tr>
                      <td class="plmodspos"><h4><img src="images/playerdash/Latest-News_01.png" alt="Quests" width="251" height="25" /><img src="images/playerdash/Latest-News_02.png" width="24" height="25" /> <br />
                          <img src="images/spacer.gif" width="1" height="5px" />
                        Incoming:
                      </h4>
                        <table width="99%" border="0" cellspacing="10" cellpadding="0" id="parmessageboard">
                          <tr valign="top">
                            <td width="35%" class="mbdate">&lt;&lt;date&gt;&gt;</td>
                            <td width="65%" valign="top" class="mbmessage">&lt;&lt;message displays here&gt;&gt;</td>
                          </tr>
                          <tr valign="top">
                            <td class="mbdate">&lt;&lt;01.01.01&gt;&gt;</td>
                            <td valign="top" class="mbmessage">&lt;&lt;message displays here&gt;&gt;</td>
                          </tr>
                          <tr valign="top">
                            <td class="mbdate">&lt;&lt;01.01.01&gt;&gt;</td>
                            <td valign="top" class="mbmessage">&lt;&lt;message displays here&gt;&gt;</td>
                          </tr>
                          <tr valign="top">
                            <td class="mbdate">&lt;&lt;01.01.01&gt;&gt;</td>
                            <td valign="top" class="mbmessage">&lt;&lt;message displays here&gt;&gt;</td>
                          </tr>
                          <tr valign="top">
                            <td class="mbdate">&lt;&lt;01.01.01&gt;&gt;</td>
                            <td valign="top" class="mbmessage">&lt;&lt;message displays here&gt;&gt;</td>
                          </tr>
                          <tr valign="top">
                            <td class="mbdate">&lt;&lt;01.01.01&gt;&gt;</td>
                            <td valign="top" class="mbmessage">&lt;&lt;message displays here&gt;&gt;</td>
                          </tr>
                          <tr valign="top">
                            <td class="mbdate">&lt;&lt;01.01.01&gt;&gt;</td>
                            <td valign="top" class="mbmessage">&lt;&lt;message displays here&gt;&gt;</td>
                          </tr>
                          <tr valign="top">
                            <td class="mbdate">&lt;&lt;01.01.01&gt;&gt;</td>
                            <td valign="top" class="mbmessage">&lt;&lt;message displays here&gt;&gt;</td>
                          </tr>
                          <tr valign="top">
                            <td class="mbdate">&lt;&lt;01.01.01&gt;&gt;</td>
                            <td valign="top" class="mbmessage">&lt;&lt;message displays here&gt;&gt;</td>
                          </tr>
                          <tr valign="top">
                            <td class="mbdate">&lt;&lt;01.01.01&gt;&gt;</td>
                            <td valign="top" class="mbmessage">&lt;&lt;message displays here&gt;&gt;</td>
                          </tr>
                        </table>
                        <p align="center"><span class="prevnext"><a href="#">&lt;&lt;</a></span> <img src="images/spacer.gif" /> <span class="prevnext"><a href="#">&gt;&gt;</a></span></p></td>
                      <td class="plmodspos"><h4><img src="images/playerdash/Send-a-Message_01.png" alt="Quests" width="250" height="25" /><img src="images/playerdash/Send-a-Message_02.png" width="25" height="25" /> <br />
                          <img src="images/spacer.gif" width="1" height="5px" />
                        To:
                      </h4>
                        <table width="91%" border="0" cellspacing="3" cellpadding="0">
                          <tr>
                            <td width="10%"><img src="" alt="" name="player1" width="25" height="25" id="player6" style="background-color: #660000" /></td>
                            <td width="33%" class="plfriends">&lt;&lt;Player 1&gt;&gt;</td>
                            <td width="5%" class="par_player">&nbsp;</td>
                            <td width="14%" class="par_player"><img src="" alt="" name="player2" width="25" height="25" id="player12" style="background-color: #336699" /></td>
                            <td width="38%" class="plfriends">&lt;&lt;Player 4&gt;&gt;</td>
                            </tr>
                          <tr>
                            <td><span class="par_player"><img src="" alt="" name="player5" width="25" height="25" id="player7" style="background-color: #FF9900" /></span></td>
                            <td class="plfriends">&lt;&lt;Player 2&gt;&gt;</td>
                            <td class="par_player">&nbsp;</td>
                            <td class="par_player"><img src="" alt="" name="player4" width="25" height="25" id="player14" style="background-color: #669900" /></td>
                            <td class="plfriends">&lt;&lt;Player 5&gt;</td>
                            </tr>
                        </table>
                        <p align="center"><span class="prevnext"><a href="#">&lt;&lt;</a></span> <img src="images/spacer.gif" /> <span class="prevnext"><a href="#">&gt;&gt;</a></span></p>
                        <h4 class="parmbpb">New Message:</h4>
                        <form id="form1" name="form1" method="post" action="">
                          <textarea name="#" id="#" cols="30" rows="7"></textarea>
                        </form>
                        <form id="form2" name="form2" method="post" action="">
                          <div align="right">
                            <p class="plsend">
                              <input type="submit" name="button" id="button" value="Send Message" />
                            </p>
                          </div>
                        </form>
                        <p>&nbsp;</p>                        <p align="left">&nbsp;</p></td>
                    </tr>
                              </table>
              </div></td>
            </tr>
          </table></td>
   
        </tr>
      </table>
  </div>
  </div>
<!--end #feature-->

 <!--end #content-->