<% provide(:title, @assigned_challenge.challenge.name) %>
<h4><%= "#{@assigned_challenge.challenge.name} is assigned to #{@assigned_challenge.child.username} for #{@assigned_challenge.points} points." %></h4>