<div id="par_content">
  <div id="avatarbase_contact">
    <div id="right_avatar_commpool"><img src="assets/avatars/cowboy.png" alt="cowboy" /></div>
    </div><!--end #avatarbase-->

  <p align="center"><img src="assets/Community-Pool-Bar_01.png" alt="Action Items" width="872" height="28" /><a href="#"><img src="assets/Community-Pool-Bar_02.png" width="28" height="28" border="0" /></a></p>
  <h1>"Check" --> Enable Reward</h1><!--For dev only-->
  <h1>"X" Reports Abuse</h1><!--For dev only-->

  <div align="center"><br />
    <div ng-app>
      <div ng-controller="RewardsCommunityPoolCtrl">
        <input ng-model="query">      
          <table width="824" border="0" cellspacing="5" cellpadding="10" >
            <tr>
              <td width="794"  align="left" valign="top"><span class="par_mod_header">Rewards</span>
              <hr color="#e99723" align="left" width="95%"/>
              </td>
            </tr>
            <table width="461" border="0" cellspacing="3" cellpadding="0">
              <tbody ng-repeat="reward in rewards | filter:query" >
                <tr>
                  <td width="400">{{reward.name}}</td>
                  <td wdith="27"><a ng-href="enabled_rewards/new?enabled_reward%5Breward_id%5D={{reward.id}}"><img src="assets/check.png" alt="report abuse" width="17" height="17" /></a></td>
                  <td width="27"><a ng-href="report_abuse?message%5Bsubject%5D=Report+Abuse+-+{{reward.name}}"><img src="assets/redflag.png" alt="report abuse" width="17" height="17" /></a></td>
              </tr>
            </tbody>
          </table>
        </table>

      </div>
    </div>
  </div>

  <p align="center">&nbsp;</p>
  <p align="center">&nbsp;</p>
</div><!--end #feature-->
</div> <!--end #wrap-->

<div id="spacer" ></div> <!--end #spacer-->

</body>
</html>
