<table width="824" border="0" cellspacing="5" cellpadding="10" >
        <tr>
          <td width="794"  align="left" valign="top"><span class="par_mod_header">Challenges</span>
            <hr color="#e99723" align="left" width="95%"/>
           
              
            <div class="searchright">
              <table width="auto" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td><div align="right">Age Group</div></td>
    <td><select name="AgeGroup" id="AgeGroup">
      <option value="6 to 8" selected="selected">6 to 8</option>
      <option value="9 to 11">9 to 11</option>
      <option value="12 to 14">12 to 14</option>
    </select></td>
  </tr>
  <tr>
    <td><div align="right">Challenge Category</div></td>
    <td><select name="ChallengeCategory" id="ChallengeCategory">
      <option value="Academic">Academic</option>
      <option value="Community">Community</option>
      <option value="Exercise">Exercise</option>
      <option value="Music/Art">Music/Art</option>
      <option value="Nutrition">Nutrition</option>
      <option value="Other">Other</option>
      <option value="All" selected="selected">All</option>
    </select></td>
  </tr>
  <tr>
    <td><input type="text" name="SearchRewards" id="SearchRewards" /></td>
    <td><input type="submit" name="SearchReward" id="SearchReward" value="search challenges" /></td>
  </tr>
</table>

              <p><br />
              </p>
            </div>
              
                <table width="461" border="0" cellspacing="3" cellpadding="0">
                  <tr>
                    <td width="400" >Challenge description</td>
                    <td width="27"><img src="assets/check.png" alt="accept" width="15" height="16" /></td>
                    <td width="27"><img src="assets/x.png" alt="decline" width="17" height="17" /></td>
                  </tr>
                  <tr>
                    <td>Challenge description</td>
                    <td><img src="assets/check.png" alt="accept" width="15" height="16" /></td>
                    <td><img src="assets/x.png" alt="decline" width="17" height="17" /></td>
                  </tr>
                  <tr>
                    <td width="400" >Challenge description</td>
                    <td width="27"><img src="assets/check.png" alt="accept" width="15" height="16" /></td>
                    <td width="27"><img src="assets/x.png" alt="decline" width="17" height="17" /></td>
                  </tr>
                </table>          </td>
        </tr>
      </table>