<% provide(:title, "Challenges Community Pool") %>
<h1>Challenges Community Pool</h1>

<div ng-app>
  <div ng-controller="ChallengesCommunityPoolCtrl">
  <input ng-model="query">
  <ul class="challenges" style="list-style: none;">
    <li ng-repeat="challenge in challenges | filter:query" >
      {{challenge.name}}
    </li>
  </ul>
  </div>
</div>

<br>
<%= link_to "Assign a challenge", new_assigned_challenge_path %>
