<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
<!--
.style1 {font-family: Arial, Helvetica, sans-serif}
.style2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
}
-->
</style>
</head>

<body>
<table width="80%" border="0" cellspacing="0" cellpadding="0">
 <tr>
   <td><p><%= image_tag("http://healthmonster.net/blog/wp-content/uploads/2012/06/copy-Banner_sk2.png", alt: " HealthMonster" class: "logo") %>
   <hr /> 
   <p class="style1">Dear <%= @message.first_name %><%= @message.last_name %>,</p>
   <p class="style1">Thank you for feedback and participation in the HealthMonster community! Like you, we care about  kids. By working together we can help HealthMonster become an increasingly useful tool that's fun and easy to use, and helps parents inspire their kids to make healthy choices.<br />
     <br />
   Your feedback has been recorded and your input will be shared with the HealthMonster team. </p>
   <p class="style1">Sincerely,<br />
     <br />
     HealthMonster's Community Admin</p>
   <hr />
   <div align="center" class="style2">Please do not reply to this message. Mail sent to this address cannot be answered.    </div>
   <p>&nbsp;</p></td>
 </tr>
 <tr>
   <td>&nbsp;</td>
 </tr>
 <tr>
   <td>&nbsp;</td>
 </tr>
</table>
</body>
</html>