<div id="footer">
  <div id="foot">
    <div align="center">
      <table width="879" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="233">
            <div align="left">
              <a href="about.html">about</a> | <a href="contact.html">contact</a> | <a href="legal.html">legal</a> | <a href="partners.html">partners</a><br />
              ©HealthMonster 2011
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>